<div class="body">
  <div class="left-panel">
    <div class="sidebar">
      <ul>
        <li>
          <a routerLink="basic_pivot_table" routerLinkActive="selected">Basic Pivot Table</a>
        </li>
        <li>
          <a routerLink="export" routerLinkActive="selected">Export</a>
        </li>
      </ul>
      <div class="left-ads-vertical"></div>
    </div>
  </div>
  <div class="content">
    <table>
      <tr>
        <td class="example-content">
          <router-outlet></router-outlet>
          <div class="ads-horizontal">
            <!-- tree-grid-horizontal -->
            <ins
              class="adsbygoogle"
              style="display: block"
              data-ad-client="ca-pub-3506323855246144"
              data-ad-slot="2512126468"
              data-ad-format="auto"
              data-full-width-responsive="true"
            ></ins>
          </div>
        </td>
        <td class="ads">
          <div class="ads-vertical"></div>
        </td>
      </tr>
    </table>
    
  </div>
</div>