div.container {
  height: calc(100vh - 136px);
  display: flex;
  align-items: center;
  flex-direction: column;    
  overflow: auto;

  h1.title {
      margin: 0;
      padding: 16px 0;
  }

  div.tool-container {
      text-align: left;
  }
}

table {
  border: 1px solid rgb(215, 214, 221);
  line-height: 1.5em;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 40px;
  td, th {
      padding: 10px 16px;
      border: 1px solid rgb(215, 214, 221);

      i {
          font-size: 25px;
      }

      i.fa-check {
          color: green;
      }

      i.fa-times {
          color: red;
      }
  }

  td.icon-container {
      text-align: center;
  }

  a.buy-btn {
      text-decoration: none;
      color: white;
      padding: 6px 10px;
      border: 1px solid rgb(215, 214, 221);
      background-color: #4242f3;
      margin-left: 4px;
      border-radius: 5px;
      &:hover {
          text-decoration: underline;
      }
  }
}

.text-center {
  text-align: center;
}