<div class="container">
  <h1 class="title">Pricing</h1>
  <div class="tool-container">
      <table>
          <tr>
              <th>
              </th>
              <th class="text-center">
                  Basic
              </th>
              <th class="text-center">
                  Pro
              </th>
          </tr>
          <tr>
              <td>Pricing</td>
              <td class="icon-container">Free</td>
              <td class="icon-container">$50
                  <a class="buy-btn" routerLink="buy-angular-pivot-table-pro">Buy</a>
              </td>
          </tr>
          <tr>
              <td>Supports</td>
              <td class="icon-container">Angular 13</td>
              <td class="icon-container">Angular 13</td>
          </tr>
          <tr>
              <td>Installation</td>
              <td class="icon-container">npm i angular-tree-grid</td>
              <td class="icon-container">Instructions will be sent to you after the successful payment.</td>
          </tr>
          <tr>
              <td>Basic Pivot Table</td>
              <td class="icon-container"><i class="fa fa-check" aria-hidden="true"></i></td>
              <td class="icon-container"><i class="fa fa-check" aria-hidden="true"></i></td>
          </tr>
          <tr>
              <td>Export</td>
              <td class="icon-container"><i class="fa fa-times" aria-hidden="true"></i></td>
              <td class="icon-container"><i class="fa fa-check" aria-hidden="true"></i></td>
          </tr>
      </table>
  </div>
</div>