div.db-tree-view-container {
    overflow: auto;
    display: inline-block;
}

.db-table-view {
    line-height: 1.5em;
    border-spacing: 0;
    display: table;
    max-width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all;
    color: #4b4b4b;

    table.header-corner {
        width: 100%;
        border-collapse: collapse;
        th {
            font-weight: normal;
            &.corner-top {
                border-width: 0 0 1px 0;
            }
            &.corner-bottom {
                border-width: 0;
            }
        }
    }

    thead {
        position: sticky;
        left: 0;
        top: 0;
        z-index: 4;
        background-color: white;
    }

    tbody tr {
        td {
            &:nth-child(1) {
                font-weight: 600;
            } 
        }
    }

    tr {
        &.selected {
            background-color: #e2e7eb;
        }

        th {
            font-size: 1rem;
            font-weight: 600;
            line-height: 1.25;
            color: #181818;
            border: 1px solid #cdd5dc;
            vertical-align: middle;
            position: relative;
            box-sizing: border-box;
            padding: 0.5rem 0.5rem;

            &.header-corner {
                padding: 0;
                z-index: 5;
                position: sticky;
                left: 0;
                top: 0;
                background-color: white;
            }
        }
    
        td {
            border: 1px solid #cdd5dc;
            vertical-align: middle;

            div.value-container {
                position: relative;
                text-align: center;
                box-sizing: border-box;
            }

            &:first-child {
                position: sticky;
                left: 0;
                top: 0;
                z-index: 3;
                background-color: white;
            }
        }
    }
}