<table [attr.class]="'db-table-view' + configs.css.table_class">
    <thead>
        <tr>
            <th class="header-corner">
                <table class="header-corner">
                    <tr>
                        <th class="corner-top">{{configs.columns}}</th>
                    </tr>
                    <tr>
                        <th class="corner-bottom">{{configs.rows}}</th>
                    </tr>
                </table>
            </th>
            <th *ngFor="let header of processed_headers">
                {{header}}
            </th>
            <th>
                Total
            </th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let row of processed_data">
            <td *ngFor="let col of row; index as i">
                <div *ngIf="i == 0" class="value-container" [innerHTML]="col | safeHtml"></div>
                <ng-container *ngIf="i > 0">
                    <ng-container *ngIf="configs.value_formatter">
                        <div [innerHTML]="configs.value_formatter(col) | safeHtml"></div>
                    </ng-container>
                    <ng-container *ngIf="!configs.value_formatter">
                        <div class="value-container" [innerHTML]="col | safeHtml"></div>
                    </ng-container>
                    
                </ng-container>
                
            </td>
        </tr>
    </tbody>
</table>