
<div class="header">
  <span class="logo">Angular Tree Grid</span>
  <div class="navigator">
    <a routerLink="/" class="navigator-btn" [ngClass]="{'selected': page == ''}">Home</a>
    <a routerLink="examples" class="navigator-btn" [ngClass]="{'selected': page == 'examples'}">Examples</a>
    <a href="../docs/" class="navigator-btn" target="_blank">Docs</a>
    <a routerLink="pricing" class="navigator-btn" [ngClass]="{'selected': page == 'pricing'}">Pricing</a>
    <a
      href="https://stackblitz.com/edit/angular-tree-grid"
      class="navigator-btn"
      target="_blank"
      >Edit</a
    >
    <a href="https://curiouslinks.com/about.html" class="navigator-btn"
      >About Me</a
    >
  </div>
</div>
<div class="body">
  <router-outlet></router-outlet>
</div>
<footer>
  © 2011-2022 &nbsp;
  <a
    href="https://curiouslinks.com/"
    style="color: #edb317; font-size: 15px"
    >Debabrata Patra</a
  >. All rights reserved and copyrighted to
  <b><a href="about.html">Debabrata Patra</a></b>
</footer>
