<div class="header">
  <div class="navigator">
    <a href="/" class="navigator-btn">Home</a>
    <a href="../docs/" class="navigator-btn" target="_blank">Docs</a>
    <a href="https://curiouslinks.com/about.html" class="navigator-btn">About Me</a>
  </div>
</div>
<div class="title-header">
  <h1> Pivot Table</h1>
  <span class="donate" title="Buy me a beer / coffee">
    <a href="https://curiouslinks.com/donate.html">
      <i class="fa fa-cc-paypal"></i>Donate
    </a>
  </span>
</div>
<div class="ads">
  <script type="text/javascript" language="javascript">
    var aax_size='728x90';
    var aax_pubname = 'curiouslinks-21';
    var aax_src='302';
  </script>
  <script type="text/javascript" language="javascript" src="https://c.amazon-adsystem.com/aax2/assoc.js"></script>
</div>
<div class="body">
  <table width='100%'>
    <tr>
      <td class="left-panel">
        <ul>
          <li>
            <a routerLink="basic_tree_grid" routerLinkActive="selected">Basic Pivot Table</a>
          </li>
        </ul>
      </td>
      <td class="content">
        <router-outlet></router-outlet>
      </td>
    </tr>
  </table>
</div>